{% extends "main/layout.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="main">
        <div class="meta">
            <p class="badge faculty">{{ article.faculty.name }}</p>
            <p class="badge theme">{{ article.theme.name }}</p>
        </div>
        <h3>{{ article.title }}</h3>
        <p>{{ article.full_text }}</p>
        <p>{{ article.date }}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-info">Редактировать</a>
    </div>
{% endblock %}
